* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar nav"
    "sidebar body"
    "footer footer";
}

.homepage > .header {
  grid-area: header;
}

.homepage > .nav {
  grid-area: nav;
}

.homepage > .sidebar {
  grid-area: sidebar;
}

.homepage > .body {
  grid-area: body;
}

.homepage > .footer {
  grid-area: footer;
}
